<section>
 <p class="help">ブラザーへの最新ブラザー情報はこちら</p>
  <a href="https://twitter.com/mameblo" class="twitter-follow-button" data-show-count="false" data-lang="ja" data-size="large">@mamebloさんをフォロー</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>

<p>
  <% if @res %>
    <% @res.each do |res| %>
    <%= res.text %>
  <% end %>
  <% else %>
    <%= @res %>
  <% end %>
</p>
