<header>
  <hgroup>
    <h1>mameblog</h1>
  </hgroup>
  <div id="service" class="clear">
    <a href="#signup" class="button yellow">mameblogに参加する</a>
    <a href="#signin" class="button blue">ログインする</a>
  </div>
</header>
<div id="content">
	<div id="greenboard">
  <article>
    <h3>entryの:titleをココに出す。最新のから</h3>
    <p>entryのコンテンツをココに出す！entryテーブル</p>
    <time pubdate="2012-6-12">さっき</time>
  </article>
  <article>
    <h3>entryの:titleをココに出す</h3>
    <p>entryのコンテンツをココに出す！entryテーブル</p>
    <time pubdate="2012-6-11">さっき</time>
  </article>
  <article>
    <h3>entryの:titleをココに出す</h3>
    <p>entryのコンテンツをココに出す！entryテーブル</p>
    <time pubdate="2012-6-10">さっき</time>
  </article>
  <article>
    <h3>entryの:titleをココに出す</h3>
    <p>entryのコンテンツをココに出す！entryテーブル</p>
    <time pubdate="2012-6-9">さっき</time>
  </article>
  <article>
    <h3>entryの:titleをココに出す</h3>
    <p>entryのコンテンツをココに出す！entryテーブル</p>
    <time pubdate="2012-6-8">さっき</time>
  </article>
	</div>
</div>
<footer>
  <p>mameblog</p>
</footer>

<div id="signup" class="blackboard signup">
  <%= render 'shared/new_user' %>
</div>
    
<div id="signin" class="blackboard signin">
  <%= render 'shared/signin_user' %>
</div>
