<div id="service">
  <a href="#signup" class="button yellow">Join "mameblog"</a>
  <a href="#signin" class="button blue">Sign in</a>
</div>
<div id="content">

  <header>
    <hgroup>
      <h1>mameblog</h1>
    </hgroup>
  </header>
   
  <div id="greenboard">
    <%= render 'shared/entry_all' %> 
  </div>
 </div>

<footer>
  <p>mameblog</p>
</footer>

<div id="signup" class="blackboard signup">
  <%= render 'shared/new_user' %>
</div>  
<div id="signin" class="blackboard signin">
  <%= render 'shared/signin_user' %>
</div>
<div id="edit" class="blackboard edit">
  <%= render 'shared/signin_user' %>
</div>
