<h1>mameblog</h1>
<% if signed_in? %>
<%= render 'static_pages/signedup_user' %>
<% else %>
<%= render 'static_pages/signup_home' %>
<% end %>

<footer>
  <p>&copy;&nbsp;mameblog&nbsp;&copy;</p>
</footer>
