<header>
  <hgroup>
    <h1>mameblog</h1>
  </hgroup>
  <div id="service" class="clear">
    <a href="#signup" class="button signup">mameblogに参加する</a>
    <a href="#signin" class="button signin">ログインする</a>
  </div>
</header>
<div id="greenboard">
  <article>
    <h3>entryの:titleをココに出す。最新のから</h3>
    <p>entryのコンテンツをココに出す！entryテーブル</p>
    <time pubdate="2012-6-12">さっき</time>
  </article>
  <article>
    <h3>entryの:titleをココに出す</h3>
    <p>entryのコンテンツをココに出す！entryテーブル</p>
    <time pubdate="2012-6-11">さっき</time>
  </article>
  <article>
    <h3>entryの:titleをココに出す</h3>
    <p>entryのコンテンツをココに出す！entryテーブル</p>
    <time pubdate="2012-6-10">さっき</time>
  </article>
  <article>
    <h3>entryの:titleをココに出す</h3>
    <p>entryのコンテンツをココに出す！entryテーブル</p>
    <time pubdate="2012-6-9">さっき</time>
  </article>
  <article>
    <h3>entryの:titleをココに出す</h3>
    <p>entryのコンテンツをココに出す！entryテーブル</p>
    <time pubdate="2012-6-8">さっき</time>
  </article>

</div>
<footer>
  <p>mameblog</p>
</footer>
<div id="signup" class="blackboard signin">
  <form action="" method="post">
    <div class="step1">
      <label>
	<p>mameblogでのあなたの名前を決めてください!</p>
	<input type="text" name="name">
      </label>
      <label>
	<p>パスワードを決めてね!</p>
	<input type="password" name="password">
      </label>
      <label>
	<p>悪いけど、もういちどパスワード教えてくれる？</p>
	<input type="password" name="confirm">
      </label>
      <input type="submit" value="参加する">
    </div>
  </form>
  <p class="close">×</p>
</div>


<!--
    <table>
      <tr>
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
      <% end %>
    </table>

    <br />

    <%= link_to 'New User', new_user_path %>
    -->





<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
