<section class="entry">
  <h1><%= link_to entry.title, entry %></h1>
  <div>
    <%= simple_format(hbr(entry.content)) %>
  </div>
  <time>
    <%= link_to time_ago_in_words(entry.created_at), entry %>前
    <% if current_user?(entry.user) %>
      &nbsp;
      <span class="delete">
        <%= link_to "× Delete", entry, method: :delete, confirm: "消えちゃうよ?", title: '削除する' %>
      </span>
    <% end %>
  </time>
</section>