<section class="single">
  <h1><%= @entry.title %></h1>
  <div>
    <%= simple_format(hbr(@entry.content)) %>
  </div>
  <time>
    <%= time_ago_in_words(@entry.created_at) %>前
  </time>
  <p class="helpUp">Written by ブラザー <strong><%= @entry.brother.name %></strong></p>
</section>
