<div id="show">
  <article>
    <h1><%= @entry.title %></h1>
    <section>
      <%= raw @entry.content_as_markdown %>
    </section>

    <p class="slideviewClose"><span class="button green">Thank you!</span></p>

    <p class="author"><%= @entry.user_id %></p>

  </article>
</div>
