<div id="show">
  <article>
    <h1><%= @entry.title %></h1>
    <section>
      <%= simple_format(hbr(@entry.content)) %>
    </section>    
    <p class="author">ブラザー名<%= @entry.user.name %></p>
  </article>
</div>
