%section.single
  %h1= @entry.title
  %div= sanitize @entry.content
  %time
    = time_ago_in_words(@entry.created_at)
    前
  %a(data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en")
  %script{type: "text/javascript"}
    !function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");
  %p.helpUp
    Written by ブラザー&nbsp;
    %strong= @entry.brother.name
