<section>
  <h1><%= @entry.title %></h1>
  <div>
    <%= simple_format(hbr(@entry.content)) %>
  </div>
  <time>
    <%= time_ago_in_words(@entry.created_at) %>前 
  </time>
  <p class="author">ブラザー名<%= @entry.user.name %></p>
</section>
