- if signed_in?
  %a.ad{href: 'http://sqale.jp/?utm_source=mameblo', target:'_blank', onclick: "ga('send', 'event', 'ad_sqale', 'click');"}
    お疲れ様です。君も Sqale を使って、まめぶろみたいなアプリケーションを作ってみよう!
- else
  = link_to signup_path, class: 'ad', onclick: "ga('send', 'event', 'ad_welcome', 'click');" do
    %span<>
      はじめまして。#{myself.sample}は日本の豊かなブログサービスです。
    %br.view-desktop<>
    %span<
      ブラザーに
    %u
      今すぐなる
