- if signed_in?
  %a.ad{href: 'http://peatix.com/event/80298/', target:'_blank', onclick: "ga('send', 'event', 'ad_beanholders_meeting', 'click');"}
    拝啓 平素は格別のご高配を賜り、厚くお礼申し上げます。豆主総会を開催いたします。
- else
  = link_to signup_path, class: 'ad', onclick: "ga('send', 'event', 'ad_welcome', 'click');" do
    %span<>
      はじめまして。#{myself.sample}は日本の豊かなブログサービスです。
    %br.view-desktop<>
    %span<
      ブラザーに
    %u
      今すぐなる
