%a.ad{href: 'https://itunes.apple.com/jp/app/id921378588', target: '_blank', onclick: "ga('send', 'event', 'ad_lolipotouchplus', 'click');"}
  こんにちは。まめぶろの競合 iPhone アプリ、ロリポタッチ+です。1分でシャレオツ Web サイトが作れます。
