%a.ad{href: 'http://ad.apps.fm/eby5phtraWjg-nYP5Mz-ivE7og6fuV2oOMeOQdRqrE3NYIj_jK6kJg_NBsb6N2ea1tTkdSNI6XEpopE74OwJe6BM8pawSfeHGJ9OplhYMEM', target: '_blank', onclick: "ga('send', 'event', 'ad_lolipotouchplus', 'click');"}
  こんにちは。まめぶろの競合 iPhone アプリ、ロリポタッチ+です。1分でシャレオツ Web サイトが作れます。
