- if signed_in?
  %a.ad{href: 'http://oyakusoku.com/?utm_source=mameblo', target:'_blank', onclick: "ga('send', 'event', 'ad_write', 'click');"}
    せり なずな ごぎょう はこべら ほとけのざ すずな すずしろ おやくそくちゃん!
- else
  = link_to signup_path, class: 'ad', onclick: "ga('send', 'event', 'ad_welcome', 'click');" do
    %span<>
      はじめまして。#{myself.sample}は日本の豊かなブログサービスです。
    %br.view-desktop<>
    %span<
      ブラザーに
    %u
      今すぐなる
