%a.ad{href: 'http://pepabo.com/recruit2016/?utm_source=mameblo', target: '_blank', onclick: "ga('send', 'event', 'ad_pepabo_recruit2016', 'click');"}
  ペパボの新卒採用サイトオープンしました。まずはきみと仲良くなりたいからあだ名を教えてよ !!!
