<%= form_for(@entry,  url: entries_path) do |f| %>
<%= f.text_field :title, placeholder: "Title" %>
<%= f.text_area :content, placeholder: "Content" %>
<%= f.submit "Post New Entry", class: "yellow" %>
<p class="close"></p>
<% end %>
