<% @user ||= current_user %>
<a href="<%= following_user_path(@user) %>"><%= @user.followed_users.count %>人のブラザー</a>であり、<br />
<a href="<%= followers_user_path(@user) %>">ブラザー<%= @user.followers.count %>人</a>が見守っている