- @brother ||= current_brother
:erb
  <a href="<%= following_brother_path(@brother) %>"><%= @brother.followed_brothers.count %>人の兄弟</a>であり、<br />
  <a href="<%= followers_brother_path(@brother) %>"><%= @brother.followers.count %>人が見守って</a>いる