<a href="<%= user_path(current_user) %>">
  ゆーざーの画像をここに出したいんだよなああ(ユーザーinfo)
</a>
<h1>
  お、ブラザーの<%= current_user.name %>さん!!!
</h1>
<span>
  <%= link_to "プロフィールを見る", current_user %>
</span>
<span>
  <%= pluralize(current_user.entries.count, "entry") %>
</span>
