<a href="<%= user_path(current_user) %>">
  ゆーざーの画像を個々に出したいよん
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "自分のぷろふぃーる", current_user %>
</span>
<span>
  <%= pluralize(current_user.entries.count, "entry") %>
</span>
