= form_for @brother, url: deliver_alter_email_settings_path, method: "post" do |f|
  = f.text_field :alter_email, class: 'input input-text', placeholder: '新しいメールアドレス'
  = f.password_field :current_password, class: 'input input-text', placeholder: '現在のパスワード'
  = f.submit '変更する', class: 'button button-horizontal button-primary', disable_with: '送信中...'
