# SQLite version 3.x
#   gem install sqlite3
#
#   Ensure the SQLite 3 gem is defined in your Gemfile
#   gem 'sqlite3'
default: &default
  adapter: postgresql
  encoding: utf8
  host: <%= ENV.fetch("DB_HOST") { "localhost" } %>
  username: postgres
  password:
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000
development:
  <<: *default
  database: mameblo_development
  password: password
test:
  <<: *default
  database: mameblo_test
  password: password
  <% if ENV.fetch("GITHUB_ACTIONS") { false } %>
  username: <%= ENV["PGUSER"] %>
  host: <%= ENV["PGHOST"] %>
  <% end %>
production:
  adapter: postgres
  encoding: utf8
  pool: 15
