= provide(:title, '結婚式')
%h1.page-title
  結婚式
%div#content
  = image_tag 'circus_tent.png', id: 'circus-tent-close', class: 'circus-tent', alt: '結婚式'
  = image_tag 'circus_tent_left_open.png', id: 'circus-tent-left-open', class: 'circus-tent', alt: '結婚式'
  %section.entry.entry-weddings
    %h1.entry-title !!! お幸せに !!!
    %div.entry-content
      %p
        nakano :couplekiss: momokoharada
      %p.poweredby
        ブラザー一同
  %ul
    %li
      = link_to 'まめくじ', jinja_omikuji_path, class: 'button button-horizontal button-primary'
