@include if-phone {
  .nav-pills {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 0 auto $gap;
    display: table;
    background-color: $white;
    border: 1px solid $orange;
    border-radius: 5px;
    .nav-pill-wrapper {
      display: table-row;
      .nav-pill {
        width: 1%;
        text-align: center;
        vertical-align: center;
        display: table-cell;
        a {
          height: 30px;
          display: block;
          color: $orange;
          color: $black;
          font-size: $font-size-14px;
          line-height: 30px;
        }
      }
    }
  }
  .nav-pill-active {
    a {
      color: $true-white !important;
      font-weight: bold;
      background-color: $orange;
    }
  }
}
@include if-desktop {
  .nav-pills {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin: 0 auto $gap;
    display: table;
    border-radius: 5px;
    .nav-pill-wrapper {
      display: table-row;
      .nav-pill {
        width: 1%;
        text-align: center;
        vertical-align: center;
        display: table-cell;
        a {
          height: 44px;
          display: block;
          color: $black;
          font-size: $font-size-14px;
          line-height: 1.66;
          line-height: 44px;
          border-width: 0 0 1px 0;
          border-style: solid;
          border-color: transparent;
          opacity: 0.22;
          transition-property: opacity;
          transition-duration: 0.2s;
          transition-timing-function: ease;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .nav-pill-active {
    a {
      color: $orange !important;
      border-color: $orange !important;
      opacity: 1 !important;
    }
  }
}
.current-timelines-index { .nav-pill-timelines-index { @extend .nav-pill-active; } }
.current-timelines-brothers { .nav-pill-timelines-brothers { @extend .nav-pill-active; } }
.current-brothers-index { .nav-pill-brothers-index { @extend .nav-pill-active; } }
.current-brothers-discover { .nav-pill-brothers-discover { @extend .nav-pill-active; } }
