.input {
  width: 100%;
  margin-bottom: $gap/2;
  padding: $gap/4;
  @include if-desktop {
    padding: $gap/2;
  }
  border: 1px solid $gray-light;
  border-radius: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-appearance: none;

  &.input-textarea {
    overflow: hidden;
    resize: none;
  }
}
