= provide(:title, 'サーカス')
%section
  %h1
    サーカスきたね！
  = image_tag 'circus_tent.png', id: 'circus-tent', alt: 'サーカス団'
  = image_tag 'circus_tent_left_open.png', id: 'circus-tent-left-open', alt: 'サーカス団'
  %h2.circus-list やったね！
  %ul.brothers
    - @participate_brother.each do |brother|
      = render brother
