%nav.nav-pills
  %ul{class: "nav-pill-wrapper current-#{current_page}"}
    %li.nav-pill.nav-pill-index
      %a{href: '/'}
        ブラザー
    %li.nav-pill.nav-pill-brothers
      %a{href: '/timelines/brothers'}
        兄弟
