%nav.nav-pills
  %ul{class: "nav-pill-wrapper current-#{current_page}"}
    %li.nav-pill.nav-pill-timelines-index
      = link_to root_path do
        兄弟
    %li.nav-pill.nav-pill-timelines-brothers
      = link_to timelines_brothers_path do
        ブラザー
%div.ad
  ブラザー各位
  %br<>
  台風やばいので、家でチャイでも飲みながらゆっくりしててください!!!
