.bean {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  display: block;
  background-image: url('/images/bean/bean_coffee.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  @include background-size(14px);
  -webkit-animation: rotate 1s;
  animation: rotate 1s;
}

@-webkit-keyframes rotate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(180deg); }
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
