@charset "UTF-8";
@import 'vars';

/* fonts */
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");

@font-face {
    font-family: 'LigatureSymbols';
    src: asset-url('/fonts/LigatureSymbols-2.11.eot');
    src: asset-url('/fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         asset-url('/fonts/LigatureSymbols-2.11.woff') format('woff'),
         asset-url('/fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         asset-url('/fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: asset-url('/fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

.lsf-icon.amazon:before {
  content: '\E007';
}

/* reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,blockquote,q,pre,table,caption,colgroup,col,tbody,thead,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,form,fieldset,legend,label,span,a,img,em,ins,del,cite,abbr,sup,sub,dfn,code,var,samp,kbd,object,script,noscript,style,iframe,embed,param,map,area,menu,hr,address,small,strong,i,b,article,aside,figure,footer,header,hgroup,nav,section,figcaption,time,video,audio,mark,ruby,rt,rp,bdo,source,canvas,details,summary,command,datalist,keygen,output,progress,meter { margin: 0; padding: 0; font-size: 100%; }
address,article,aside,figure,figcaption,footer,header,hgroup,hr,legend,menu,nav,section,summary { display: block; }
li { list-style-type: none; }
a img { border: none; }
img { vertical-align: bottom; }
object,object:focus { outline:none; }

a {
  color: $turquoise;
  text-decoration: none;
}

body {
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: $white;
}

/* common class */
.hidden { display: none; }
.half { -ms-filter: "alpha(opacity=50)"; filter: alpha( opacity=50 ); opacity: 0.5; }
.clearfix { zoom: 1; }
.clearfix:after { content: ""; display: block; clear: both; }

/* module class */
.alert {
  padding: $gap;
  margin-bottom: $gap;
  text-align: center;
  @include font(default);
  background-color: $sunflower;
  box-shadow: 0 1px 0 $orange;
}

.input {
  width: 100%;
  margin-bottom: $gap/2;
  padding: $gap/4;
  @include font(input);
  border: 1px solid $gray-light;
  @include border-radius(reset);
  @include box-sizing;
  -webkit-appearance: none;
  
  &.input-textarea {
    overflow: hidden;
    resize: none;
  }
}

.button {
  height: 45px;
  padding: 0 20px;
  margin-bottom: $gap/2;
  display: inline-block;
  text-align: center;
  @include font(button);
  text-shadow: 0 -1px $asbestos;
  border: 0;
  background-color: $concrete;
  @include border-radius(small);
  @include box-sizing;
  box-shadow: 0 2px 0 $asbestos;
  cursor: pointer;
  -webkit-appearance: none;
  
  &.button-horizontal {
    width: 100%;  
  }

  &.button-default {
    text-shadow: 0 -1px $asbestos;
    background-color: $concrete;
    box-shadow: 0 2px 0 $asbestos;
  }

  &.button-primary {
    text-shadow: 0 -1px $greensea;
    background-color: $turquoise;
    box-shadow: 0 2px 0 $greensea;
  }

  &.button-success {
    text-shadow: 0 -1px $pumpkin;
    background-color: $carrot;
    box-shadow: 0 2px 0 $pumpkin;
  }

  &.button-info {
    text-shadow: 0 -1px $belizehole;
    background-color: $peterriver;
    box-shadow: 0 2px 0 $belizehole;
  }

  &.button-warning {
    text-shadow: 0 -1px $orange;
    background-color: $sunflower;
    box-shadow: 0 2px 0 $orange;
  }

  &.button-danger {
    text-shadow: 0 -1px $pomegranate;
    background-color: $alizarin;
    box-shadow: 0 2px 0 $pomegranate;
  }

  &.button-inverse {
    text-shadow: 0 -1px $greensea;
    background-color: $turquoise;
    box-shadow: 0 2px 0 $greensea;
  }

  &.button-disabled {
    text-shadow: 0 -1px $asbestos;
    background-color: $silver;
    box-shadow: 0 2px 0 $asbestos;
    cursor: default;
  }
}

.page-title {
  margin-bottom: $gap;
  text-align: center;
  @include font(title);
}

/* hidden */
#entry-form-submit {
  display: none;
}
