@use "sass:math";
/* fonts */
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700");

@font-face {
  font-family: EntypoIcon;
  src: url('/fonts/entypo/entypo.eot') format('oldIE'),
  url('/fonts/entypo/entypo.ttf') format('truetype'),
  url('/fonts/entypo/entypo.woff') format('woff'),
  url('/fonts/entypo/entypo.svg') format('svg');
}
@font-face {
  font-family: EntypoSocialIcon;
  src: url('/fonts/entypo-social/entypo-social.eot') format('oldIE'),
  url('/fonts/entypo-social/entypo-social.ttf') format('truetype'),
  url('/fonts/entypo-social/entypo-social.woff') format('woff'),
  url('/fonts/entypo-social/entypo-social.svg') format('svg');
}
@font-face {
  font-family: Mameblo;
  src: url('/fonts/mameblo/mameblo.eot') format('oldIE'),
  url('/fonts/mameblo/mameblo.ttf') format('truetype'),
  url('/fonts/mameblo/mameblo.woff') format('woff'),
  url('/fonts/mameblo/mameblo.svg') format('svg');
}
.icon {
  @extend %icon;
}
.iconbutton {
  @extend %icon;
  width: 30px;
  height: 30px;
  text-align: center;
  color: $white;
  line-height: 30px;
  background-color: $midnightblue;
  border-radius: 30px;
}
.emoji {
  width: 24px;
  height: 24px;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  @include if-desktop {
    font-weight: normal;
  }
}

a {
  color: $turquoise;
  text-decoration: none;
}

body {
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background-color: $white;
}

textarea {
  height: 160px;
}

/* common class */
.hidden { display: none; }
.half { -ms-filter: "alpha(opacity=50)"; filter: alpha( opacity=50 ); opacity: 0.5; }
.clearfix { zoom: 1; }
.clearfix:after { content: ""; display: block; clear: both; }

.view-desktop {
  display: none;
}
@include if-desktop {
  .view-phone {
    display: none;
  }
  .view-desktop {
    display: block;
  }
}

/* module class */
.alert {
  @include box-sizing(border-box);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $gap;
  text-align: center;
  @include typography(default);
  background-color: $sunflower;
  box-shadow: 0 1px 0 $orange;
  z-index: 10000;
  cursor: pointer;
}

.input {
  width: 100%;
  margin-bottom: math.div($gap, 2);
  padding: math.div($gap, 4);
  @include if-desktop {
    padding: math.div($gap, 2);
  }
  @include typography(input);
  border: 1px solid $gray-light;
  border-radius: 0;
  @include box-sizing(border-box);
  outline: none;
  -webkit-appearance: none;

  &.input-textarea {
    overflow: hidden;
    resize: none;
  }
}

.button {
  height: 45px;
  @include if-desktop {
    height: 54px;
  }
  padding: 0 20px;
  margin-bottom: math.div($gap, 2);
  display: inline-block;
  text-align: center;
  @include typography(button);
  text-shadow: 0 -1px $asbestos;
  border: 0;
  background-color: $concrete;
  border-radius: 5px;
  @include box-sizing(border-box);
  box-shadow: 0 2px 0 $asbestos;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &.button-horizontal {
    width: 100%;
  }

  &.button-default {
    text-shadow: 0 -1px $asbestos;
    background-color: $concrete;
    box-shadow: 0 2px 0 $asbestos;
  }

  &.button-primary {
    text-shadow: 0 -1px $greensea;
    background-color: $turquoise;
    box-shadow: 0 2px 0 $greensea;
  }

  &.button-success {
    text-shadow: 0 -1px $pumpkin;
    background-color: $carrot;
    box-shadow: 0 2px 0 $pumpkin;
  }

  &.button-info {
    text-shadow: 0 -1px $belizehole;
    background-color: $peterriver;
    box-shadow: 0 2px 0 $belizehole;
  }

  &.button-warning {
    text-shadow: 0 -1px $orange;
    background-color: $sunflower;
    box-shadow: 0 2px 0 $orange;
  }

  &.button-danger {
    text-shadow: 0 -1px $pomegranate;
    background-color: $alizarin;
    box-shadow: 0 2px 0 $pomegranate;
  }

  &.button-inverse {
    text-shadow: 0 -1px $greensea;
    background-color: $turquoise;
    box-shadow: 0 2px 0 $greensea;
  }

  &.button-disabled {
    text-shadow: 0 -1px $asbestos;
    background-color: $silver;
    box-shadow: 0 2px 0 $asbestos;
    cursor: default;
  }

  &.button-touched {
    opacity: 0.33 !important;
    cursor: default !important;
    @include transition-property(opacity);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease);
  }
}

.cards {
  @include clearfix;
  .card {
    @include box-sizing(border-box);
    float: left;
    margin-bottom: math.div($gap, 2);
    @include if-phone {
      width: 50%;
      padding: 0 math.div($gap, 4) 0 0;
      &:nth-child(2n) {
        padding: 0 0 0 math.div($gap, 4);
      }
    }
    @include if-desktop {
      width: 33%;
      padding: 0 math.div($gap, 4) 0 0;
      &:nth-child(3n+2) {
        padding: 0 math.div($gap, 4);
      }
      &:nth-child(3n+3) {
        width: 34%;
        padding: 0 0 0 math.div($gap, 4);
      }
    }
    .card-content {
      @include box-sizing(border-box);
      @include typography(title);
      width: 100%;
      height: 80px;
      padding: 0 $gap;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
      color: $turquoise;
      line-height: 80px !important;
      background-color: $true-white;
      box-shadow: 0 1px 0 $silver;
    }
  }
}

@include if-phone {
  .nav-pills {
    @include box-sizing(border-box);
    width: 100%;
    height: 30px;
    margin: 0 auto $gap;
    display: table;
    background-color: $white;
    border: 1px solid $orange;
    border-radius: 5px;
    .nav-pill-wrapper {
      display: table-row;
      .nav-pill {
        width: 1%;
        text-align: center;
        vertical-align: center;
        display: table-cell;
        a {
          height: 30px;
          display: block;
          color: $orange;
          // @include typography(default);
          // see: http://thesassway.com/intermediate/understanding-placeholder-selectors
          color: $black;
          font-family: $font-family-sans-serif;
          font-size: $px14;
          line-height: 1.66;
          @include font-expand($px16, $px14, 1.66);
          line-height: 30px;
        }
      }
    }
  }
  .nav-pill-active {
    a {
      color: $true-white !important;
      font-weight: bold;
      background-color: $orange;
    }
  }
}
@include if-desktop {
  .nav-pills {
    @include box-sizing(border-box);
    width: 100%;
    height: 30px;
    margin: 0 auto $gap;
    display: table;
    border-radius: 5px;
    .nav-pill-wrapper {
      display: table-row;
      .nav-pill {
        width: 1%;
        text-align: center;
        vertical-align: center;
        display: table-cell;
        a {
          height: 44px;
          display: block;
          color: $black;
          // @include typography(default);
          // see: http://thesassway.com/intermediate/understanding-placeholder-selectors
          color: $black;
          font-family: $font-family-sans-serif;
          font-size: $px14;
          line-height: 1.66;
          @include font-expand($px16, $px14, 1.66);
          line-height: 30px;
          line-height: 44px;
          border-width: 0 0 1px 0;
          border-style: solid;
          border-color: transparent;
          opacity: 0.22;
          @include transition-property(opacity);
          @include transition-duration(0.2s);
          @include transition-timing-function(ease);
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .nav-pill-active {
    a {
      color: $orange !important;
      border-color: $orange !important;
      opacity: 1 !important;
    }
  }
}
.current-timelines-index { .nav-pill-timelines-index { @extend .nav-pill-active; } }
.current-timelines-brothers { .nav-pill-timelines-brothers { @extend .nav-pill-active; } }
.current-brothers-index { .nav-pill-brothers-index { @extend .nav-pill-active; } }
.current-brothers-discover { .nav-pill-brothers-discover { @extend .nav-pill-active; } }

.page-title {
  margin-bottom: $gap;
  text-align: center;
  @include typography(title);
}

/* hidden */
.new_entry {
  #entry-form-submit {
    display: none;
  }
}

/* loading */
#infscr-loading {
  img {
    position: fixed;
    bottom: 4em;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-left: -100px;
    display: block;
    z-index: 999;
  }
}
.autopager-next {
  display: none;
}
