@charset "UTF-8";
@import 'vars';

/* fonts */
@import url("//fonts.googleapis.com/css?family=Open+Sans:400");

@font-face {
    font-family: 'LigatureSymbols';
    src: asset-url('LigatureSymbols/LigatureSymbols-2.11.eot');
    src: asset-url('LigatureSymbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         asset-url('LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'),
         asset-url('LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype'),
         asset-url('LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: asset-url('LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content: attr(title);
  margin-right: 0.3em;
  font-size: 130%;
}

.lsf-icon.amazon:before {
  content: '\E007';
}

/* reset */
html,body,div,h1,h2,h3,h4,h5,h6,p,blockquote,q,pre,table,caption,colgroup,col,tbody,thead,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,form,fieldset,legend,label,span,a,img,em,ins,del,cite,abbr,sup,sub,dfn,code,var,samp,kbd,object,script,noscript,style,iframe,embed,param,map,area,menu,hr,address,small,strong,i,b,article,aside,figure,footer,header,hgroup,nav,section,figcaption,time,video,audio,mark,ruby,rt,rp,bdo,source,canvas,details,summary,command,datalist,keygen,output,progress,meter { margin: 0; padding: 0; font-size: 100%; }
address,article,aside,figure,figcaption,footer,header,hgroup,hr,legend,menu,nav,section,summary { display: block; }
li { list-style-type: none; }
a img { border: none; }
img { vertical-align: bottom; }
object,object:focus { outline:none; }

a {
  color: $blue;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

/* common class */
.hidden { display: none; }
.half { -ms-filter: "alpha(opacity=50)"; filter: alpha( opacity=50 ); opacity: 0.5; }
.clear { zoom: 1; }
.clear:after { content: ""; display: block; clear: both; }

/* input */
.input {
  width: 100%;
  margin-bottom: $gap/2;
  padding: $gap/4;
  @include font(input);
  border: 1px solid $gray-light;
  @include box-sizing;
}
