// compass replacement mixins
@mixin box-sizing($type: border-box) {
  box-sizing: $type;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin transition-property($property) {
  transition-property: $property;
}

@mixin transition-duration($duration) {
  transition-duration: $duration;
}

@mixin transition-timing-function($timing) {
  transition-timing-function: $timing;
}

@mixin background-size($size) {
  background-size: $size;
}

@mixin display-box {
  display: flex;
}

@mixin box-pack($pack) {
  @if $pack == center {
    justify-content: center;
  } @else if $pack == start {
    justify-content: flex-start;
  } @else if $pack == end {
    justify-content: flex-end;
  }
}

@mixin box-align($align) {
  @if $align == center {
    align-items: center;
  } @else if $align == start {
    align-items: flex-start;
  } @else if $align == end {
    align-items: flex-end;
  }
}

// mixins
@mixin if-phone {
  @media screen and (max-width: 959px) {
    @content;
  }
}
@mixin if-desktop {
  @media screen and (min-width: 960px) {
    @content;
  }
}
@mixin font-expand($expand-size, $original-size, $original-line-height) {
  @include if-desktop {
    font-size: $expand-size;
    line-height: $original-line-height*($expand-size/$original-size);
  }
}
@mixin typography($type: default) {
  @if $type == default {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px14;
    line-height: 1.66;
    @include font-expand($px16, $px14, 1.66);
  } @else if $type == input {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px18;
    line-height: 1.5;
    @include font-expand($px20, $px18, 1.5);
  } @else if $type == button {
    color: $white;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 45px;
    @include if-desktop {
      font-size: $px18;
      line-height: 54px;
    }
  } @else if $type == title {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 1.66;
    @include font-expand($px18, $px16, 1.66);
  } @else if $type == small {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px12;
    line-height: 1.44;
    @include font-expand($px14, $px12, 1.44);
  } @else if $type == number {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 1;
    @include if-desktop {
      font-size: $px18;
    }
  } @else if $type == name {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 1.22;
    @include font-expand($px18, $px16, 1.22);
  }
}

// extends
%border-radius {
  &.small {
    @include border-radius(5px);
  }
  &.large {
    @include border-radius(10px);
  }
  &.bottom {
    @include border-radius(0 0 5px 5px);
  }
  &.reset {
    @include border-radius(0);
  }
}
%icon {
  margin-right: 0.05em;
  width: 0.65em;
  text-align: center;
  font-family: EntypoIcon, EntypoSocialIcon, Mameblo;
  display: inline-block;
  font-size: 2em;
  font-weight: normal !important;
  font-style: normal;
  line-height: 0.7em;
  vertical-align: -0.06em;
  text-decoration: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

