@charset 'UTF-8';
@import 'compass';
@import 'compass/css3';
@import 'variables';
@import 'extends';
@import 'susy';
$total-columns: 8;
$column-width: 4em;
$gutter-width: 0em;
$grid-padding: $gap;
$container-style: magic;
$break-desktop: 32em;
