// mixins
@mixin font-expand($expand-size, $original-size, $original-line-height) {
  @include if-desktop {
    font-size: $expand-size;
    line-height: $original-line-height*($expand-size/$original-size);
  }
}
@mixin if-phone {
  @media screen and (max-width: 960px) {
    @content;
  }
}
@mixin if-desktop {
  @media screen and (min-width: 960px) {
    @content;
  }
}

// extends
%font {
  &.default {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px14;
    line-height: 1.66;
    @include font-expand($px16, $px14, 1.66);
  }
  &.input {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px18;
    line-height: 1.5;
    @include font-expand($px20, $px18, 1.5);
  }
  &.button {
    color: $white;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 45px;
    @include if-desktop {
      font-size: $px18;
      line-height: 54px;
    }
  }
  &.title {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 1.66;
    @include font-expand($px18, $px16, 1.66);
  }
  &.small {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px12;
    line-height: 1.44;
    @include font-expand($px14, $px12, 1.44);
  }
  &.number {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 1;
    @include if-desktop {
      font-size: $px18;
    }
  }
  &.name {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 1.22;
    @include font-expand($px18, $px16, 1.22);
  }
}
%border-radius {
  &.small {
    @include border-radius(5px);
  }
  &.large {
    @include border-radius(10px);
  }
  &.bottom {
    @include border-radius(0 0 5px 5px);
  }
  &.reset {
    @include border-radius(0);
  }
}
%icon {
  margin-right: 0.05em;
  width: 0.65em;
  text-align: center;
  font-family: EntypoIcon, EntypoSocialIcon, Mameblo;
  display: inline-block;
  font-size: 2em;
  font-weight: normal !important;
  font-style: normal;
  line-height: 0.7em;
  vertical-align: -0.06em;
  text-decoration: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

