@charset 'UTF-8';
@import 'compass';
@import 'compass/css3';
@import 'variables';
@import 'susy';
$total-columns: 12;
$column-width: 4em;
$gutter-width: 0em;
$grid-padding: 10px;
$container-style: magic;
$break-desktop: 60em;

// extends
%font {
  &.default {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px14;
    line-height: 1.66;
    @include at-breakpoint($break-desktop) {
      font-size: $px16;
      line-height: 1.66*(16/14);
    }
  }
  &.input {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px18;
    line-height: 1.5;
    @include at-breakpoint($break-desktop) {
      font-size: $px20;
    }
  }
  &.button {
    color: $white;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 45px;
    @include at-breakpoint($break-desktop) {
      font-size: $px18;
      line-height: 54px;
    }
  }
  &.title {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 1.66;
    @include at-breakpoint($break-desktop) {
      font-size: $px18;
    }
  }
  &.small {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px12;
    line-height: 1.44;
    @include at-breakpoint($break-desktop) {
      font-size: $px14;
    }
  }
  &.number {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 1;
    @include at-breakpoint($break-desktop) {
      font-size: $px18;
    }
  }
  &.name {
    color: $black;
    font-family: $font-family-sans-serif;
    font-size: $px16;
    line-height: 1.22;
    @include at-breakpoint($break-desktop) {
      font-size: $px18;
    }
  }
}
%border-radius {
  &.small {
    @include border-radius(5px);
  }
  &.large {
    @include border-radius(10px);
  }
  &.bottom {
    @include border-radius(0 0 5px 5px);
  }
  &.reset {
    @include border-radius(0);
  }
}

