.omikuji {
  text-align: center;
}

.omikuji-title {
  text-align: center;
  @include typography(title);
  color: $turquoise;
  font-family: serif;
  font-size: 60px;
}

.omikuji-content {
  text-align: center;
  h3 {
    color: $silver;
    border-bottom: 1px solid $clouds;
  }
}

.circus-tents {
  max-width: 300px;
  height: auto;
  margin: 0 auto $gap;
  cursor: pointer;
}

.circus-tent {
  width: 100%;
  height: auto;
}

#circus-tent-left-open {
  display: none;
}
