@mixin font($type: default) {
  @if $type == default {
    color: $black;
    font-size: 14px;
    line-height: 1.66;
  } @else if $type == input {
    color: $black;
    font-size: 18px;
    line-height: 1.5;
  } @else if $type == button {
    color: $white;
    font-size: 16px;
    line-height: 45px;
  } @else if $type == title {
    color: $black;
    font-size: 16px;
    line-height: 1.66;
  } @else if $type == small {
    color: $black;
    font-size: 12px;
    line-height: 1.44;
  } @else if $type == number {
    color: $black;
    font-size: 16px;
    line-height: 1;
  }

  font-family: 'Open Sans', sans-serif;
}

@mixin link {
  @include font(link);

  &:hover {
    @include font(link);
  }
}

@mixin mameblo-border-radius($size: small) {
  @if $size == small {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
      #{$prefix}border-radius: 5px;
    }
  } @else if $size == large {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
      #{$prefix}border-radius: 10px;
    }
  } @else if $size == bottom {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
      #{$prefix}border-radius: 0 0 5px 5px;
    }
  } @else if $size == reset {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
      #{$prefix}border-radius: 0;
    }
  }
}

@mixin mameblo-box-sizing {
  @each $prefix in -webkit-, -moz-, '' {
    #{$prefix}box-sizing: border-box;
  }
}
