.editor {
  display: none;
}

.is-editor {
  height: 100%;
  overflow: hidden;
  .editor {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    background-color: rgba(29,42,54,0.66);
    z-index: 123456;
    .editor-wrapper {
      width: 100%;
      height: 50%;
      .editor-content {
        height: 100%;
        overflow-y: scroll;
        .page {
          padding: 54px 10px;
          @include if-desktop {
            padding: $gap*2 0;
          }
        }
        .input {
          border: 0;
        }
      }
    }
  }
}

.profile {
  width: 100%;
  padding: $gap 0;
  display: table;
  .profile-name {
    @include typography(name);
    width: 50%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
  }
  .stats {
    width: 50%;
    display: table-cell;
    .stats-list {
      border-bottom: 1px solid rgba($black,0.33);
      &:last-child {
        border-bottom: 0;
      }
    }
    .stats-content {
      @include box-sizing(border-box);
      width: 100%;
      padding: $gap;
      display: table;
    }
    .stats-label {
      @include typography(small);
      width: ($gap * 4);
      text-align: center;
      vertical-align: middle;
      display: table-cell;
    }
    .stats-number {
      @include typography(number);
      text-align: right;
      display: table-cell;
    }
    .stats-beans {
      margin-left: ($gap / 2);
      display: inline-block;
      color: $concrete;
      font-size: $px12;
    }
  }
}

.stats {
  @include clearfix;
  margin-bottom: $gap;

  .stat {
    float: left;
    width: 25%;
    text-align: center;

    .number {
      @include typography(number);
      font-weight: bold;
      @include if-desktop {
        font-weight: normal;
      }
    }

    .label {
      width: 100%;
      margin-top: $gap/4;
      text-align: center;
      display: block;
      @include typography(small);
    }

    .separate-border {
      display: block;
      border-right: 1px solid rgba($black,0.33);
    }
  }
}

.follow-button {
  margin-bottom: $gap;
}

.brothers {
  li {
    margin: 0 $gap/2 $gap/2 0;
    display: inline-block;
    @include typography(name);
    font-weight: bold;
    @include if-desktop {
      font-weight: normal;
    }
  }
}

.ad {
  padding: $gap/1.5 0 $gap/1.5 50px;
  @include if-desktop {
    padding: $gap/2 0 $gap/2 50px;
  }
  margin-bottom: $gap;
  word-break: break-all;
  display: block;
  @include typography(default);
  color: $asbestos;
  background-image: image-url('pr_brothers.png');
  @include background-size(40px);
  background-repeat: no-repeat;
  background-position: 0 center;
  cursor: pointer;
}
