$gap: 10px;

$white: #f2f2f2;
$gray-light: #e0e0e0;
$gray: #999;
$gray-dark: #666;
$black: #333;

$red: #D04255;
$yellow: #ffff00;
$green: #1DAF9E;
$blue: #1F91BE;
$purple: #C23685;

$color-diff: 10;
$red-light: lighten($red, $color-diff);
$red-dark: darken($red, $color-diff);
$blue-light: lighten($blue, $color-diff);
$blue-dark: darken($blue, $color-diff);
$green-light: lighten($green, $color-diff);
$green-dark: darken($green, $color-diff);
$yellow-light: lighten($yellow, $color-diff);
$yellow-dark: darken($yellow, $color-diff);
$purple-light: lighten($purple, $color-diff);
$purple-dark: darken($purple, $color-diff);

@mixin font($type: default) {
  @if $type == default {
    color: $black;
    font-size: 14px;
    line-height: 1.66;
  } @else if $type == input {
    color: $black;
    font-size: 16px;
    line-height: 1;
  } @else if $type == button {
    color: $white;
    font-size: 16px;
    line-height: 45px;
  }
  
  font-family: 'Open Sans', sans-serif;
}

@mixin link {
  @include font(link);
  
  &:hover {
    @include font(link);
  }
}

@mixin border-radius($size: small) {
  @if $size == small {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  
      #{$prefix}border-radius: 5px;  
    }
  } @else if $size == large {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {  
      #{$prefix}border-radius: 10px;  
    } 
  }
}

@mixin box-sizing {
  @each $prefix in -webkit-, -moz-, '' {  
    #{$prefix}box-sizing: border-box;  
  }
}
