@use "sass:math";
.ranking {
  .vote-number {
    font-weight: normal;
  }

  &.ranking-high {
    margin-bottom: $gap*2;

    .title {
      font-size: 20px;

      .vote-number {
        float: right;
      }
    }

    .tshirt {
      width: 280px;
      height: 280px;
      margin-bottom: $gap;
    }

    .comment {
      @include typography(default);
    }
  }

  &.ranking-low {
    float: left;
    margin-bottom: $gap*2;

    &:nth-child(odd) {
      margin-right: $gap;
    }

    .title {
      text-align: center;
    }

    .tshirt {
      width: 145px;
      height: 145px;
      box-shadow: 0 1px 0 $silver;
    }
  }
}

.turnout {
  padding: math.div($gap, 2);
  text-align: center;
  @include typography(default);
}

#tshirts-designer {
  min-height: 0 !important;

  #momokoharada {
    padding-bottom: $gap;
    text-align: center;
    font-weight: bold;
  }
}
