@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* greenbar */
#0f2d3b
#385752
#889474
#757161
#999044

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {	
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1;
	letter-spacing: 0em;
}

a {
	color: #0099fa;
	text-decoration: none;
}

a:hover {
	color: #0099fa;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-weight: normal;
}

input[type='text'],
input[type='password'],
textarea {
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 200%;
	line-height: 1;
}

input[type='button'],
input[type='submit'],
.button {
	display: inline-block;
	padding: 0.5em 1em;
	
	color: #ffffff !important;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid #909090;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px rgba(255, 255, 255, 0.1);
	cursor: pointer;
}

.button {
	text-shadow: 0 -1px #909090;
	
	/* default */
	background-color: #0060af;
	background: -webkit-linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
	background: -moz-linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
	background: -o-linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
	background: linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
}

input[type='button'],
input[type='submit'] {
	text-shadow: 0 -1px #909090;
	background-color: #0060af;
}

input[type='button']:hover,
input[type='submit']:hover,
.button:hover {
	box-shadow: inset 0 1px 16px rgba(0, 0, 0, 0.33);
}

.red {
	background-color: #dc133d;
	background: -webkit-linear-gradient(#db5673, #db4061 50%, #db2a50 50%, #dc133d);
	background: -moz-linear-gradient(#db5673, #db4061 50%, #db2a50 50%, #dc133d);
	background: -o-linear-gradient(#db5673, #db4061 50%, #db2a50 50%, #dc133d);
	background: linear-gradient(#db5673, #db4061 50%, #db2a50 50%, #dc133d);
}

.red:hover {
	background-color: #a80f30;
	background: -webkit-linear-gradient(#a84258, #a8314b 50%, #a8203e 50%, #a80f30);
	background: -moz-linear-gradient(#a84258, #a8314b 50%, #a8203e 50%, #a80f30);
	background: -o-linear-gradient(#a84258, #a8314b 50%, #a8203e 50%, #a80f30);
	background: linear-gradient(#a84258, #a8314b 50%, #a8203e 50%, #a80f30);
}

.yellow {
	background-color: #f3980d;
	background: -webkit-linear-gradient(#f2b355, #f2aa3d 50%, #f2a024 50%, #f3980d);
	background: -moz-linear-gradient(#f2b355, #f2aa3d 50%, #f2a024 50%, #f3980d);
	background: -o-linear-gradient(#f2b355, #f2aa3d 50%, #f2a024 50%, #f3980d);
	background: linear-gradient(#f2b355, #f2aa3d 50%, #f2a024 50%, #f3980d);
}

.yellow:hover {
	background-color: #bf770a;
	background: -webkit-linear-gradient(#bf8e43, #bf8630 50%, #bf7e1d 50%, #bf770a);
	background: -moz-linear-gradient(#bf8e43, #bf8630 50%, #bf7e1d 50%, #bf770a);
	background: -o-linear-gradient(#bf8e43, #bf8630 50%, #bf7e1d 50%, #bf770a);
	background: linear-gradient(#bf8e43, #bf8630 50%, #bf7e1d 50%, #bf770a);
}

.green {
	background-color: #00af80;
	background: -webkit-linear-gradient(#35b08f, #23b08a 50%, #12b086 50%, #00af80);
	background: -moz-linear-gradient(#35b08f, #23b08a 50%, #12b086 50%, #00af80);
	background: -o-linear-gradient(#35b08f, #23b08a 50%, #12b086 50%, #00af80);
	background: linear-gradient(#35b08f, #23b08a 50%, #12b086 50%, #00af80);
}

.green:hover {
	background-color: #007d5c;
	background: -webkit-linear-gradient(#257d66, #197d62 50%, #0c7d5f 50%, #007d5c);
	background: -moz-linear-gradient(#257d66, #197d62 50%, #0c7d5f 50%, #007d5c);
	background: -o-linear-gradient(#257d66, #197d62 50%, #0c7d5f 50%, #007d5c);
	background: linear-gradient(#257d66, #197d62 50%, #0c7d5f 50%, #007d5c);
}

.blue {
	background-color: #0060af;
	background: -webkit-linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
	background: -moz-linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
	background: -o-linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
	background: linear-gradient(#3579b0, #2371b0 50%, #1269b0 50%, #0060af);
}

.blue:hover {
	background-color: #00457d;
	background: -webkit-linear-gradient(#25567d, #19507d 50%, #0c4a7d 50%, #00457d);
	background: -moz-linear-gradient(#25567d, #19507d 50%, #0c4a7d 50%, #00457d);
	background: -o-linear-gradient(#25567d, #19507d 50%, #0c4a7d 50%, #00457d);
	background: linear-gradient(#25567d, #19507d 50%, #0c4a7d 50%, #00457d);
}




.clear { zoom: 1; }
.clear:after { content: ""; display: block; clear: both; }


/* layouts */

div#service, 
div#content,
header,
div#greenboard,
article,
footer,
footer p,
div.blackboard form,
div.message p {
	position: relative;
	margin: 0;
	text-align: justify;
	display: block;
}

div#content,
footer p,
div.blackboard form,
div.message p {
	margin: 0 auto;
}

div#service,
header hgroup,
footer {
	width: 100%;
}

div#content {
	width: 780px;
}

article,
footer p,
div.blackboard form,
div.message p {
	width: 460px;
}

header {
	width: 240px;
}

header,
div#greenboard {
	float: left;
}

div#service, div#content { zoom: 1; }
div#service:after, div#content:after { content: ""; display: block; clear: both; }

@media screen and (max-width: 796px){
	header,
	div#greenboard {
		margin: 0 auto;
	}
	
	header,
	div#content {
		width: 100%;
	}
	
	div#greenboard nav,
	article,
	footer p,
	div.blackboard form {
		width: 460px;
	}
	
	header,
	div#greenboard {
		float: none;
	}
	
}

@media screen and (max-width: 545px){
	div#service,
	div#service a.button,
	div#content,
	header,
	div#greenboard,
	div#greenboard nav,
	article,
	footer,
	footer p,
	div.blackboard form {
		width: 100% !important;
	}
}

header hgroup,
header nav,
footer p,
div.blackboard label,
div.message,
div.message p {
	text-align: center;
}

div.blackboard,
div.message {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

article aside {
	position: absolute;
	top: -70px;
	left: -170px;
	min-width: 200px;
}

@media screen and (max-width: 796px){
	article aside {
		left: 10px;
	}
}

article aside { z-index: 10; }
div.blackboard { z-index: 99; }
div.message { z-index: 100; }







/* details */

body {
	background: url("/assets/bodybg.png") repeat;
}

div#service {
	padding: 30px 0;
	text-align: center;
	
	background: url("/assets/servicebg.png") bottom left repeat-x;
}

div#service .button {
	padding: 20px 60px;
	font-size: 140%;
}

@media screen and (max-width: 545px){
	div#service .button {
		padding: 20px 0;
		font-size: 100%;
	}
}

div#content {
	padding: 30px 0;
	background: url("/assets/contentbg.png") top left repeat;
}

@media screen and (max-width: 545px){
	div#content {
		padding: 0;
	}
}

header {
	padding: 10px;
}

@media screen and (max-width: 796px){
	header { padding: 10px 0; }
}

header h1 {
	position: relative;
	width: 228px;
	height: 120px;
	margin: 0 auto 20px auto;
	text-indent: -9999px;
	
	background: url("/assets/logo.gif") top center no-repeat;
}

div#greenboard {
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

div#greenboard nav a.button {
	width: 100%;
	padding: 0.5em 0;
	text-align: center;
}

article,
div#greenboard nav {
	margin: 0 auto 4px auto;
	padding: 2em 2em 1.33em 2em;
	background-color: #ffffff;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#909090', Direction=180, Strength=2);
}

@media screen and (max-width: 545px){
	article,
	div#greenboard nav {
		padding: 1em 0;
		
		border-bottom: 2px solid #c0c0c0;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}
}

article h3 {
	margin-bottom: 1em;
	
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0em;
}

article p {
	margin-bottom: 1em;
	
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.6;
	letter-spacing: 0em;
}

article time {
	width: 100%;
	text-align: right;
	display: block;
	
	font-size: 80%;
}

article aside {
	margin: 0;
	padding: 10px;
	
	background-color: #404040;
	border-radius: 6px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

article aside p {
	width: 100%;
	margin-bottom: 0.25em;
	text-align: center;
}

article aside p a.button {
	padding: 0.25em 0.75em;
	
	font-size: 90%;
	font-weight: normal;
}

article aside p.userId {
	color: #ffffff;
	font-size: 140%;
	font-weight: bold;
	word-break: break-all;
}

article aside p.admin {
	padding: 0.5em 0;
	margin-bottom: 0.65em;
	
	background-color: #606060;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

article aside p.permalink {
	margin: 0;
}

article aside p.permalink:after {
	content: "";
	
	position: absolute;
	bottom: -18px;
	right: 36px;
	width: 0;
	height: 0;
	
	border-top: 18px solid #404040;
	border-left: 24px solid transparent; 
}

footer {
	background: url("/assets/footerbg.png") top left repeat-x;
}

footer p {
	padding: 60px 0;
	
	text-shadow: 0 1px 0px #909090;
}

div.blackboard {
	background: url("/assets/blackboardbg.png") top left repeat;
}

div.blackboard form {
	position: relative;
	margin-top: 80px;
	padding: 2em;
	text-align: center;
	
	box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	background-color: #ffffff;
}

div.blackboard#edit form {
	position: absolute;
	top: 6%;
	left: 4%;
	width: 86%;
	height: 82%;
	margin: 0;
	padding: 3%;
}

div.blackboard label {
	width: 100%;
	margin-bottom: 0.5em;
	display: block;
	
	font-size: 120%;
	font-weight: bold;
	line-height: 1.5;
}

div.blackboard input[type="text"],
div.blackboard input[type="password"] {
	margin-bottom: 1.5em;
	text-align: center;
}

div.blackboard#edit input[type="text"] {
	width: 100%;
	margin-bottom: 2%;
	text-align: left;
}

div.blackboard#edit textarea {
	width: 100%;
	height: 82%;
	margin-bottom: 2%;
}

div.blackboard p.error {
	margin-bottom: 2em;
	padding: 1em;
	
	color: #ffffff;
	font-size: 100%;
	line-height: 1.5;
	background-color: #db5673;
	border: 2px solid #dc133d;
}

div.blackboard p.error b {
	font-size: 140%;
}

div.blackboard p.close {
	position: absolute;
	top: -40px;
	right: -21px;
	width: 42px;
	height: 80px;
	
	background: url("/assets/blackboardclose.png") top left no-repeat;
	cursor: pointer;
}

div.blackboard p.close:hover {
	background: url("/assets/blackboardclose.png") top right no-repeat;
}

div.message.success {
	background: url("/assets/messagebg.png") top left repeat;
}

div.message p {
	padding: 6em;
	
	font-size: 120%;
	font-weight: normal;
	line-height: 1.5;
	background-color: #ffffff;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	background-color: #ffffff;
}

div.message p b {
	font-size: 140%;
	font-weight: bold;
}

div.message p a.button {
	margin-top: 1em;
}









