@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

/* greenbar */
#0f2d3b
#385752
#889474
#757161
#999044

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {	
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1;
	letter-spacing: 0em;
}

a {
	color: #0099fa;
	text-decoration: none;
}

a:hover {
	color: #0099fa;
}

h1, h2, h3, h4, h5, h6, h7 {
	font-weight: normal;
}

input[type='text'],
input[type='password'],
textarea {
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 200%;
	line-height: 1;
}

input[type='button'],
input[type='submit'],
.button {
	display: inline-block;
	padding: 0.5em 1em;
	
	color: #ffffff !important;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #909090;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 -1px rgba(255, 255, 255, 0.1);
	cursor: pointer;
	
	/* default */
	background-color: #eeeeee;
	background: -webkit-linear-gradient(#a40, #830 50%, #720 50%, #610);
	background: -moz-linear-gradient(#fcca00, #fcca00 50%, #f3980d 50%, #f3980d);
	background: -o-linear-gradient(#a40, #830 50%, #720 50%, #610);
	background: linear-gradient(#a40, #830 50%, #720 50%, #610);
}

.button {
	text-shadow: 0 -1px #909090;
}

input[type='button'],
input[type='submit'] {
	text-shadow: 0 -1px #909090;
	background-color: transparent;
}

input[type='button']:hover,
input[type='submit']:hover,
.button:hover {
	box-shadow: inset 0 1px 16px rgba(0, 0, 0, 0.33);
}

.clear { zoom: 1; }
.clear:after { content: ""; display: block; clear: both; }


/* layouts */

header,
header hgroup,
header div,
div#content,
div#greenboard,
article,
footer,
footer p,
div.blackboard div {
	position: relative;
	margin: 0 auto;
	text-align: justify;
	display: block;
}

header,
header hgroup,
header div,
div#content,
div#greenboard,
footer {
	width: 100%;
}

article,
footer p,
div.blackboard div {
	width: 460px;
}

header hgroup,
header div,
footer p,
div.blackboard div {
	text-align: center;
}

div.blackboard {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}


body.login.false header {
	background-color: #ffffff;
	border-bottom: dashed 1px #ffffff;
}


/* details */

body {
	background: url("/assets/bodybg.png") top left repeat;
}

header {
	padding: 30px 0;
}

header h1 {
	position: relative;
	width: 320px;
	height: 102px;
	margin: 0 auto 18px auto;
	text-indent: -9999px;
	
	background: url("/assets/logo.png") top center no-repeat;
}


header .button {
	padding: 20px 60px;
	font-size: 140%;
}

header .button.signup {
	background-color: #eeeeee;
	background: -webkit-linear-gradient(#a40, #830 50%, #720 50%, #610);
	background: -moz-linear-gradient(#ffcb63, #ffc34a 50%, #ffb016 50%, #ffba30);
	background: -o-linear-gradient(#a40, #830 50%, #720 50%, #610);
	background: linear-gradient(#a40, #830 50%, #720 50%, #610);
}

header .button.signup:hover {
	background-color: #19a;
	background: -webkit-linear-gradient(#c60, #a50 50%, #940 50%, #830);
	background: -moz-linear-gradient(#c60, #a50 50%, #940 50%, #830);
	background: -o-linear-gradient(#c60, #a50 50%, #940 50%, #830);
	background: linear-gradient(#c60, #a50 50%, #940 50%, #830);
}

header .button.signin {
	background-color: #eeeeee;
	background: -webkit-linear-gradient(#a40, #830 50%, #720 50%, #610);
	background: -moz-linear-gradient(#5ec6d1, #49c4d1 50%, #0abdd1 50%, #1fbfd1);
	background: -o-linear-gradient(#a40, #830 50%, #720 50%, #610);
	background: linear-gradient(#a40, #830 50%, #720 50%, #610);
}

div#content {
	background: url("/assets/contentbg.png") top left repeat;
}

div#greenboard {	
	background: linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

article {
	margin: 0 auto 4px auto;
	padding: 2em;
	background-color: #ffffff;
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
}

article h3 {
	margin-bottom: 1em;
	
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 120%;
	font-weight: bold;
	line-height: 1;
	letter-spacing: 0em;
}

article p {
	margin-bottom: 1em;
	
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.6;
	letter-spacing: 0em;
}

article time {
	font-size: 80%;
}

footer {
	background: linear-gradient(top, #f19baf 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #f19baf 0%, #ffffff 100%);
	background: -moz-linear-gradient(top, #bbbbbb 0%, #eeeeee 100%);
	background: -webkit-linear-gradient(top, #f19baf 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #f19baf 0%, #ffffff 100%);
}

footer p {
	padding-top: 120px;
}

div.blackboard {
	background: url("/assets/blackboardbg.png") top left repeat;
}

div.blackboard div {
	position: relative;
	margin-top: 80px;
	padding: 2em 0;
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);
	background-color: #ffffff;
}

div.blackboard label {
	width: 100%;
	margin-bottom: 1.75em;
	display: block;
}

div.blackboard label p {
	margin-bottom: 0.75em;
	
	font-size: 120%;
	font-weight: bold;
	line-height: 1.5;
}


div.blackboard img.close {
	position: absolute;
	top: -20px;
	right: -20px;
	cursor: pointer;
}




















/*
background: linear-gradient(top, #f19baf 0%, #ffffff 100%);
background: -o-linear-gradient(top, #f19baf 0%, #ffffff 100%);
background: -moz-linear-gradient(top, #f19baf 0%, #ffffff 100%);
background: -webkit-linear-gradient(top, #f19baf 0%, #ffffff 100%);
background: -ms-linear-gradient(top, #f19baf 0%, #ffffff 100%);

background: url('') repeat no-repeat repeat-x repeat-y;
background-color: #ffffff;
background-image: url('');
background-repeat: repeat no-repeat repeat-x repeat-y;
list-style-type: disc;

@media screen and (max-width: 640px){

}
*/