@charset "UTF-8";
@import 'vars';

.brother-name {
  margin-bottom: $gap;
  text-align: center;
  @include font(title);
}

.entry {
  min-height: 100px;
  padding: $gap;
  margin-bottom: $gap;
  word-break: break-all;
  background-color: $true-white;
  box-shadow: 0 1px 0 $silver;
}

.entry-title {
  margin-bottom: $gap;
  @include font(title);
}

.entry-content {
  margin-bottom: $gap;
  @include font(default);
  
  p {
    margin-bottom: $gap/2;
  }
  
  ul,
  ol {
    padding: $gap/2 $gap/4;
    margin-bottom: $gap/2;
    
    li {
      margin-left: 20px;
      
      ul {
        padding: $gap/4 0;
        margin-bottom: 0;
        
        li {
          margin-left: 10px;
        }
      }
    }
  }

  ul {
    li {
      list-style-type: disc;
      
      ul {
        li {
          list-style-type: circle;
        }
      }
    }
  }

  ol {
    li {
      list-style-type: decimal;
    }
  }

  img {
    max-width: 100%;
    margin-bottom: $gap/2;
  }

  pre {
    padding: $gap/2 $gap;
    margin-bottom: $gap/2;
    overflow: auto;
    background-color: $white;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 $silver;
  }
}

.entry-footer {
  margin-bottom: $gap/2;
  @include font(small);

  a {
    color: $black;
  }

  .control {
    float: right;
    line-height: 1;
  }

  .edit {
    &:after {
      content: '/';
      margin: 0 $gap/4;
    }
  }
}

.tool {
  margin-bottom: $gap;
  text-align: center;
}
