@import 'import';

.brother-name {
  margin-bottom: $gap;
  text-align: center;
  @extend %font.title;
}

.entry {
  position: relative;
  min-height: 100px;
  padding: 10px;
  @include at-breakpoint($break-desktop) {
    padding: $gap*2;
  }
  margin-bottom: $gap;
  word-break: break-all;
  background-color: $true-white;
  box-shadow: 0 1px 0 $silver;

  &.entry-pr {
    min-height: 0;
    padding-left: 60px;
    display: block;
    @extend %font.default;
    color: #fff;
    background-image: image-url('pr_brothers.png');
    @include background-size(40px);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: $silver;
    box-shadow: 0 1px 0 $concrete;
  }

  .beans-count {
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: block;
    color: $concrete;
    font-size: 12px;
    @include at-breakpoint($break-desktop) {
      bottom: $gap/2;
      right: $gap;
      font-size: 14px;
    }
  }
}

.entry-title {
  margin-bottom: $gap/2;
  @include at-breakpoint($break-desktop) {
    margin-bottom: $gap;
  }
  @extend %font.title;
}

.entry-content {
  margin-bottom: $gap;
  text-align: justify;
  word-break: normal;
  word-wrap: break-word;
  @extend %font.default;

  p {
    margin-bottom: $gap/2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: $gap 0 $gap/2;
    font-weight: bold;
    @include at-breakpoint($break-desktop) {
      font-weight: normal;
    }
  }

  h1 {
    padding-bottom: $gap/4;
    font-size: $px16;
    border-bottom: 2px solid $black;
    @include font-expand($px18, $px16, 1.66);
  }

  h2 {
    padding-bottom: $gap/6;
    font-size: $px16;
    border-bottom: 1px solid $black;
    @include font-expand($px18, $px16, 1.66);
  }

  h3 {
    padding-bottom: $gap/8;
    font-size: $px14;
    border-bottom: 1px solid $silver;
    @include font-expand($px16, $px14, 1.66);
  }

  h4 {
    padding-bottom: $gap/8;
    font-size: $px14;
    @include font-expand($px16, $px14, 1.66);
  }

  h5 {
    padding-bottom: $gap/8;
  }

  h6 {
    padding-bottom: $gap/8;
    font-weight: normal;
  }

  ul,
  ol {
    padding: $gap/2 $gap/4;
    margin-bottom: $gap/2;

    li {
      margin-left: 20px;

      ul,
      ol {
        padding: $gap/2 0;
        margin-bottom: 0;

        li {
          margin-left: 10px;
        }
      }
    }
  }

  ul {
    li {
      list-style-type: disc;

      ul {
        li {
          list-style-type: circle;
        }
      }

      ol {
        li {
          list-style-type: decimal;
        }
      }
    }
  }

  ol {
    li {
      list-style-type: decimal;

      ul {
        li {
          list-style-type: circle;
        }
      }
    }
  }

  img {
    max-width: 100%;
    margin-bottom: $gap/2;
  }

  hr {
    height: 0;
    margin: $gap 0;
    border: none;
    border-top: 1px dashed $silver;
  }

  pre {
    padding: $gap/2 $gap;
    margin-bottom: $gap/2;
    overflow: auto;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    background-color: $white;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 $silver;
  }

  code {
    padding: 0 $gap/2;
    white-space: nowrap;
    display: inline-block;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 12px;
    line-height: 1.66;
    background-color: $white;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 $silver;
  }

  pre code {
    padding: 0;
    white-space: pre;
    display: inline;
    font-size: 14px;
    line-height: 1;
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
  }

  blockquote {
    padding: 0 0 0 $gap;
    margin: 0 0 $gap/2 $gap/2;
    color: $concrete;
    border-left: 3px solid $silver;
  }
}

.entry-beans {
  &.is_throwable {
    .beans-count {
      cursor: pointer;
    }
  }
}

.entry-footer {
  margin-bottom: $gap/2;
  @extend %font.small;

  a {
    color: $black;
  }

  .control {
    float: right;
    line-height: 1;
  }

  .edit {
    &:after {
      content: '/';
      margin: 0 $gap/4;
    }
  }
}

.tool {
  margin-bottom: $gap;
  text-align: center;
}
