@charset "UTF-8";
@import 'vars';

#page {
  width: 320px;
  margin: 0 auto;
}

#header {
  width: 100%;
  margin-bottom: $gap;
}

#brand {
  width: 100%;
  hieght: 30px;
  padding: 10px 0;
  cursor: pointer;
  background-color: $midnightblue;
}

#brand img {
  width: 38px;
  height: 30px;
  margin: 0 auto;
  display: block;
}

#navs {
  display: none;
  border-top: 1px solid $white;
}

.nav a {
  width: 100%;
  height: 50px;
  padding: 0 $gap*2;
  display: block;
  line-height: 50px;
  color: $black;
  font-size: 18px;
  text-shadow: 0 1px $white;
  background-color: $gray-light;
  border-bottom: 1px solid $white;
  @include box-sizing;
}
