@import 'import';

.page {
  @include container;
  @include at-breakpoint($break-desktop) {
    padding-bottom: $gap*2;
  }
}

.header {
  position: fixed;
  width: 100%;
  height: 44px;
  margin-bottom: 10px;
  z-index: 123;
  .brand {
    position: absolute;
    top: 7px;
    left: 50%;
    margin-left: -19px;
    a {
      width: 38px;
      height: 30px;
      display: block;
    }
    img {
      width: 38px;
      height: 30px;
    }
  }
  .iconbutton {
    box-shadow: -1px 0 0 $true-white, 0 -1px 0 $true-white, 1px 0 0 $true-white, 0 1px 0 $true-white;
  }
  .nav-menu {
    position: absolute;
    top: 7px;
    left: 7px;
    .nav-menu-content {
      display: none;
      .nav {
        padding-top: $gap;
        height: 30px;
        line-height: 30px;
        a {
          height: 30px;
          display: inline-block;
          .iconbutton {
            background-color: $turquoise;
          }
          span {
            margin-left: $gap/2;
            font-weight: bold;
            text-shadow: -1px 0 0 $true-white, 0 -1px 0 $true-white, 1px 0 0 $true-white, 0 1px 0 $true-white;
          }
        }
      }
    }
  }
  .nav-editor {
    position: absolute;
    top: 7px;
    right: 7px;
  }
}

.contents {
  padding-top: 60px;
}

.footer {
  padding: $gap 0 $gap*2;
  .copyright {
    text-align: center;
    @extend %font.small;
    a {
      color: $black;
    }
  }
}
