@import 'import';

.page {
  @include container;
  @include at-breakpoint($break-desktop) {
    padding-bottom: $gap*2;
  }
}

.header {
  margin-bottom: $gap;
  @include at-breakpoint($break-desktop) {
    margin-bottom: 0;
  }
}

.view-desktop {
  position: absolute;
  top: $gap + $gap/4;
  right: $gap;
  .navs {
    ul {
      .nav {
        .nav-label {
          padding: $gap/2;
          display: block;
          @extend %font.default;
          opacity: 0.5;
          cursor: pointer;
          @include transition-property(opacity);
          @include transition-duration(0.2s);
          @include transition-timing-function(ease);
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .brand {
    width: 38px;
    height: 30px;
    padding: $gap;
    display: block;
    opacity: 0.5;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    @include transition-property(opacity);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease);
    img {
      width: 38px;
      height: 30px;
      margin: 0 auto;
      display: block;
    }
    &:hover {
      opacity: 1;
    }
  }
}

.view-phone {
  .brand {
    @include box-sizing(border-box);
    width: 78%;
    height: 50px;
    padding: 10px 10px 10px 58px;
    color: $white;
    line-height: 30px;
    cursor: pointer;
    background-image: asset-url('brand.png');
    @include background-size(38px 30px);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: $midnightblue;
    @extend %border-radius.bottom;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    &.opened {
      background-color: $asbestos;
    }
    img {
      width: 38px;
      height: 30px;
      margin: 0 auto 0 10px;
      display: block;
    }
  }

  .navs {
    display: none;
    .nav {
      .nav-label {
        @include box-sizing(border-box);
        width: 78%;
        height: 50px;
        padding: 0 $gap;
        display: block;
        line-height: 50px;
        color: $black;
        font-size: 18px;
        text-shadow: 0 1px $white;
        background-color: $silver;
        border-bottom: 1px solid $white;
        cursor: pointer;
      }
    }
  }

  .nav-editor {
    @include box-sizing(border-box);
    position: absolute;
    top: 0;
    right: 10px;
    width: 18%;
    height: 50px;
    padding: 0;
    text-align: center;
    color: $black;
    font-size: 18px;
    line-height: 50px;
    text-shadow: 0 1px $white;
    background-color: $silver;
    cursor: pointer;
    @extend %border-radius.bottom;
  }
}

.contents {
  @include at-breakpoint($break-desktop) {
    padding-top: $gap*2;
    border-top: $gap/4 solid $black;
  }
}

.footer {
  padding: $gap 0 $gap*2;
  .copyright {
    text-align: center;
    @extend %font.small;
    a {
      color: $black;
    }
  }
}
