@import 'import';

.session {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $midnightblue;
  .session-wrapper {
    width: 100%;
    height: 100%;
    @include display-box;
    @include box-pack(center);
    @include box-align(center);
    .session-content {
      width: 260px;
      display: block;
    }
  }
}

.session-header {
  margin-bottom: 1em;
  .brand {
    width: 54px;
    height: 54px;
    margin: 0 auto;
    display: block;
  }
}
