@import 'import';

.modal {
  .session-header {
    margin-bottom: 1em;
    .brand {
      width: 54px;
      height: 54px;
      margin: 0 auto;
      display: block;
    }
  }
  .password-field-wrapper {
    position: relative;
    .password-forget {
      position: absolute;
      top: 2px;
      right: 0;
      color: $black;
      font-size: 40px;
    }
  }
}
