@import 'import';

.stats {
  @include clearfix;
  margin-bottom: $gap;

  .stat {
    @include span-columns(1,3);
    @include nth-omega(last);
    text-align: center;

    .number {
      @extend %font.number;
      font-weight: bold;
    }

    .label {
      width: 100%;
      margin-top: $gap/4;
      text-align: center;
      display: block;
      @extend %font.small;
    }

    .separate-border {
      display: block;
      border-right: 1px solid rgba($black,0.33);
    }
  }
}

.follow-button {
  margin-bottom: $gap;
}

.brothers {
  li {
    margin: 0 $gap/2 $gap/2 0;
    display: inline-block;
    @extend %font.name;
    font-weight: bold;
  }
}
