@import 'import';

.nav-pills {
  @include box-sizing(border-box);
  width: 100%;
  height: 30px;
  margin: 0 auto $gap;
  display: table;
  background-color: $white;
  border: 1px solid $orange;
  border-radius: 5px;
  .nav-pill-wrapper {
    display: table-row;
    .nav-pill {
      width: 1%;
      text-align: center;
      vertical-align: center;
      display: table-cell;
      a {
        height: 30px;
        display: block;
        color: $orange;
        font-size: $px13;
        line-height: 30px;
      }
    }
  }
}

.nav-pill-active {
  a {
    color: $true-white !important;
    font-weight: bold;
    background-color: $orange;
  }
}

.current-index { .nav-pill-index { @extend .nav-pill-active; } }
.current-brothers { .nav-pill-brothers { @extend .nav-pill-active; } }
