@charset "UTF-8";
@import 'vars';

.ranking {
  &.ranking-high {
    .tshirt {
      width: 300px;
      height: 300px;
    } 
  }

  &.ranking-low {
    float: left;

    .tshirt {
      width: 145px;
      height: 145px;
    } 
  }
}
