@charset "UTF-8";
@import 'vars';

.tshirt {
  margin-bottom: $gap;
  width: 300px;
  height: 300px;
}

.vote-buttons {
  margin-bottom: $gap;

  .vote-button {
    float: left;
    width: 145px;
  }

  #vote-good {
    margin-right: 10px;
  }
}
