= provide(:title, '選挙')
%h1.page-title !!! 集計中 !!!
= image_tag "votes/tshirts/tshirt#{@num}.png", class: 'tshirt'
%section.vote-buttons.clearfix{data:{tshirt: @num}}
  = button_to "投票ありがとうございました !!!", votes_path, id: 'vote-good', class: 'button button-horizontal button-warning', method: 'get'
