= form_for(current_brother.relationships.build(followed_id: @brother.id),remote: true) do |f|
  %div
    = f.hidden_field :followed_id
    = f.submit "兄弟になる", class: "button button-horizontal button-primary", id: 'beBrother'
    %span#beBrotherAfter.button.button-horizontal.button-disabled 兄弟になりました