= form_for(current_brother.relationships.find_by_followed_id(@brother), html: { method: :delete }, remote: true) do |f|  
  = f.submit "生き別れる", class: "brother button red", id: "unBrother"
  %input#unBrotherAfter.brother.button.gray{ type: "button", value: "生き別れました" }