= form_for(current_brother.relationships.find_by_followed_id(@brother), html: { method: :delete }, remote: true) do |f|  
  = f.submit "生き別れる", class: "button button-horizontal button-danger", id: "unBrother"
  %span#unBrotherAfter.button.button-horizontal.button-disabled 生き別れました