= provide(:title, 'みんな')
%h1.page-title
  ??? 兄弟かも ???
%div#content
  %ul.cards.autopager-content
    - @brothers.each do |brother|
      %section.card.autopager-item
        %div.card-content
          %h1.card-title
            %a{href: "/brothers/#{brother.name}"}
              = brother.name
