= provide(:title, 'みんな')
%h1.page-title
  もしかして、兄弟？
%div#content
  %ul.cards.autopager-content
    - @brothers.each do |brother|
      %div.card
        %a.card-content{href: "/brothers/#{brother.name}"}
          = brother.name
