= provide(:title, 'みんな')
= render 'shared/entry_form' if signed_in?
%h1.page-title
  みんな
%div#content{data: {max: {page: @brothers.num_pages}}}
  %ul.brothers.autopager-content
    = render @brothers
= paginate @brothers
