%section#halloween-designer.entry
  %h2.page-title まめぶろハロウィンを描いたブラザー
  %p#starshiprain
    %a{href: '/brothers/starshiprain'} starshiprain
%footer#footer
  %p.copyright
    %a{ href: "#header" } &copy;&nbsp;mameblo&nbsp;&copy;
