%header#header.header
  %h1.brand
    = image_tag "brand-black.png", alt: 'まめぶろ'
  = render 'layouts/nav'
%div.header-happynewyear2015
  %span.header-happynewyear2015-content.header-happynewyear2015-content-akemashite.animated.bounceIn<>
    :erb
      !!! あけまして
  %span.header-happynewyear2015-content.header-happynewyear2015-content-omedetou.animated.bounceIn<>
    :erb
      おめでとう !!!
