%header#header.header
  %h1.brand
    = image_tag "brand-black.png", alt: 'まめぶろ'
  = render 'layouts/nav'
%div.countdown
  %span.countdown-content.countdown-label<>
    #{wedding_party.sample}まで
  %span.countdown-content.countdown-num<>
    %span<>
      あと
    %span.animated.flash<>
      #{countdown(Date.new(2014,9,20))}
    %span<>
      日
