%header#header.header
  %h1.brand
    = image_tag "brand/brand-3rd.svg", alt: 'まめぶろ'
  = render 'layouts/nav'
%p.subtexts
  %span.subtext.subtext-before.animated.bounceIn<>
    あけまして
  %span.subtext.subtext-after.animated.bounceIn<>
    まめでとう
