%header#header.header
  %h1.brand
    = image_tag "brand-black.png", alt: 'まめぶろ'
  = render 'layouts/nav'
%p.subtexts.view-phone
  %span.subtext.subtext-before.animated.bounceIn<>
    ことよろ
  %span.subtext.subtext-after.animated.bounceIn<>
    まめぶろ
%p.subtexts.view-desktop
  %span.subtext.subtext-before.animated.bounceIn<>
    ことよろ、
  %span.subtext.subtext-after.animated.bounceIn<>
    まめぶろ。
