%header#header.header
  %div.view-desktop
    = render 'layouts/nav'
    %h1.brand
      = image_tag "brand-black.png", alt: 'まめぶろ'
      %span.copyright
        mameblo
  %div.view-phone.page
    = render 'layouts/nav'
    %h1.brand
      mameblo
