%header#header.header
  %h1.brand
    = image_tag "brand-heart.png", alt: 'まめぶろ'
  = render 'layouts/nav'
%div.header-wedding-day
  %span.header-wedding-day-content.header-wedding-day-boy.animated.flash<>
    glover
  %span.header-wedding-day-content.header-wedding-day-girl.animated.flash<>
    %span.header-wedding-day-heart<>
      ♡
    %span<>
      nicokuki
