= provide(:title, 'まめくじ')
%h1.page-title !!! まめくじ !!!
%div#content
  %article#entries
    %section.entry.omikuji
      %h1.omikuji-title
        #{@fortune}
      %div.entry-content.omikuji-content
        %h3 結婚運
        %p #{@bean}
  = link_to '結婚式にもどる', jinja_path, class: 'button button-horizontal button-primary'
